@model Projeto.Agenda.MVC.ViewModel.PessoaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    @*<h4>PessoaViewModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtCreate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
